{% extends "prof_site_app/base.html" %}
{% load static %}

{% block title %}Dylan's Blog{% endblock title %}

{% block content %}
<main id="blog_search_page">
    <search id="filter_box">
        <label class="filter_label">Filter by Passion :
            <select name="passion" class="pursuit_dropdown">
                <option value="" class="pursuit_option">----</option>
                <option value="snowboarding" class="pursuit_option">Snowboarding</option>
                <option value="piano" class="pursuit_option">Piano</option>
                <option value="running" class="pursuit_option">Running</option>
            </select>
        </label>
        <label class="filter_label">Filter by Project :
            <select name="project" class="pursuit_dropdown">
                <option value="" class="pursuit_option">----</option>
                <option value="cs_profiles" class="pursuit_option">CS Profiles</option>
                <option value="personal_website" class="pursuit_option">Personal Website</option>
                <option value="lil_lexie" class="pursuit_option">Lil Lexie</option>
            </select>
        </label>
    </search>
    <div id="blog_list">
        <div class="blog_list_preview">
            <h2 class="blog_title">Design a Website : Django Style (this one actually)</h2>
            <p class="blog_date">May 17th, 2024</p>
            <p class="blog_tag">Tags : Project - Personal Site</p>
            <p class="blog_preview">This is just filler text for now because the blog post doesn't actually exist but I
            just want to demonstrate that I will actually make a post about this!</p>
        </div>
        <div class="blog_list_preview">
            <h2 class="blog_title">CS Profiles : Design Decisions, Scope, Plan!</h2>
            <p class="blog_date">April 12th, 2024</p>
            <p class="blog_tag">Tags : Project - CS Profiles</p>
            <p class="blog_preview">We are moving forward into development! I spent time researching UI Frameworks,
            Application Server / Web Frameworks, Hosting Services, Databases, Web Servers, and all their integrations.</p>
        </div>
    </div>
</main>
{% endblock content %}
